[[redirects]]
from = "/terms"
to = "/terms.html"
status = 200

[[redirects]]
from = "/contact"
to = "/contact.html"
status = 200

[[redirects]]
from = "/privacy"
to = "/privacy.html"
status = 200

[[redirects]]
from = "/ebooks"
to = "/ebooks.html"
status = 200
